{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}

<section class="container mt-5">

    <i class="fas fa-4x fa-pulse fa-hat-wizard"></i>
    <h1> {{ book.title }}</h1>
    <img src="{{ asset('uploads/' ~ book.image) }}" alt="{{ book.title }}">
    
    <p>Déposé le {{ book.createdAt|date('d M Y') }}</p>
    <p>Ecrit par {{ book.author.fullname }}</p>
    <p>Listes des catégories du livre: </p>
    <ul>
    {% for category in book.category  %}
        <li>               <a href="{{ path('category_show', {'id': category.id}) }}">
                {{ category.name }}</a> </li>
    {% endfor %}
    </ul>

    <h2>Listes des livres du même auteur</h2>
    <div class="row">
        {% for otherbook in otherbooks %}
            <div class="col-md-3">
            {% include 'book/card.html.twig' with {'book' : otherbook} only %}
            </div>
        {%  else %}
            <li>Aucun autre livre</li>
        {% endfor %}
    </div>
</section>
{% endblock %}
